{% extends 'base.html' %}
{% block content %}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>About</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->

<!-- product list part start-->
<section class="about_us padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="about_us_content">
          <h5>Our Mission</h5>
          <h3>{{ presentation.description }}</h3>
          <div class="about_us_video">
            <img
              src="{{ presentation.image.url }}"
              class="img-fluid"/>
            <a
              class="about_video_icon popup-youtube"
              href="{{ presentation.video }}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->

<!-- feature part here -->
<section class="feature_part section_padding">
  <div class="container">
      
    {% include "innovate_message.html" %}

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_1.svg" alt="#" />
          <h4>Credit Card Support</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_2.svg" alt="#" />
          <h4>Online Order</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_3.svg" alt="#" />
          <h4>Free Delivery</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_4.svg" alt="#" />
          <h4>Product with Gift</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature part end -->

<!-- client review part here -->
{% include "temoignage.html" %}
<!-- client review part end -->
{% endblock content %}
