{% extends 'base.html' %} {% block content %}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>product list</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->

<!-- product list part start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="product_sidebar">
          <div class="single_sedebar">
            <form>
              <input type="text" name="search" placeholder="Search keyword" />
              <i class="ti-search"></i>
            </form>
          </div>
          <div class="single_sedebar">
            <div class="select_option">
              <div class="select_option_list">
                Category <i class="right fas fa-caret-down"></i>
              </div>
              <div class="select_option_dropdown">
                  {% for cathegorie in cathegories %}
                      <p><a href="{% url 'product_list' 'cath' cathegorie.id %}">{{ cathegorie.nom|capfirst }}</a></p>
                  {% endfor %}
              </div>
            </div>
          </div>

          <!-- Nos produits ne possedent pas de type; juste des cathegories -->
          {% comment %} <div class="single_sedebar">
            <div class="select_option">
              <div class="select_option_list">
                Type <i class="right fas fa-caret-down"></i>
              </div>
              <div class="select_option_dropdown">
                <p><a href="#">Type 1</a></p>
                <p><a href="#">Type 2</a></p>
                <p><a href="#">Type 3</a></p>
                <p><a href="#">Type 4</a></p>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
      {% if produits_page %}
      <div class="col-md-8">
        <div class="product_list">
            <div class="row">
                {% for produit in produits_page %}
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_product_item">
                          <img
                            src="{{ produit.image.url }}"
                            class="img-fluid"/>
                          <h3>
                            <a href="{% url 'single-product' produit.id %}">
                              {{ produit.nom }}
                            </a>
                          </h3>
                          <p>From ${{ produit.prix }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if limit < produits_page.paginator.count %}
                <div class="load_more_btn text-center">
                    <a href='{% url "product_list" limit|add:"6" %}' class="btn_3">Load More</a>
                </div>
            {% endif %}
        </div>
      </div>
      {% else %}
        <h1>Aucun Produit Pour Cette Cathegorie</h1>
      {% endif %}

    </div>
  </div>
</section>
<!-- product list part end-->

<!-- client review part here -->
{% include "temoignage.html" %}
<!-- client review part end -->

<!-- feature part here -->
<section class="feature_part section_padding">
  <div class="container">

    {% include "innovate_message.html" %}

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_1.svg" alt="#" />
          <h4>Credit Card Support</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_2.svg" alt="#" />
          <h4>Online Order</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_3.svg" alt="#" />
          <h4>Free Delivery</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="/static/img/icon/feature_icon_4.svg" alt="#" />
          <h4>Product with Gift</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature part end -->
{% endblock content %}
