{% extends '../base/base.html' %} {% block content %}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>Register</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->

<!--================login_part Area =================-->
<section class="login_part section_padding ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
          <div class="login_part_text_iner">
            <h2>You already have an account? Sign in now</h2>
            <p>
              There are advances being made in science and technology everyday,
              and a good example of this is the
            </p>
            <a href="{% url 'login' %}" class="btn_3">Login</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>
              You are new ! <br />
              Create your account now
            </h3>
            <form class="row contact_form" method="POST" novalidate="novalidate" enctype="multipart/form-data">
                {% csrf_token %}
                {% for input in form %}
                    <div class="form-group">{{ input }}</div>
                {% endfor %}
              <div class="col-md-12 form-group">

                <button type="submit" value="submit" class="btn_3">
                  Inscription
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================login_part end =================-->
{% endblock content %} {% block beforefooter %} {% endblock beforefooter %}
